materials/3DApple001_HQ-2K-JPG_NormalDX.jpg filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG.obj filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG.usdc filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG_Displacement.jpg filter=lfs diff=lfs merge=lfs -text
materials/potted_plant_04_2k.blend filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG_AmbientOcclusion.jpg filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG_Color.jpg filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG.mtlx filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG_NormalDX.jpg filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG_NormalGL.jpg filter=lfs diff=lfs merge=lfs -text
materials/textures filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG.mtl filter=lfs diff=lfs merge=lfs -text
materials/donut-base.png filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG_Roughness.jpg filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG_NormalGL.jpg filter=lfs diff=lfs merge=lfs -text
materials/Marble012_4K-JPG.usdc filter=lfs diff=lfs merge=lfs -text
materials/Marble012.png filter=lfs diff=lfs merge=lfs -text
materials/3DApple001_HQ-2K-JPG_Color.jpg filter=lfs diff=lfs merge=lfs -text
